
extends layout

block content

	#login.center-vertical
		form.well(id='form-login', method='post')
			h2 Joga Onde
			.form-group
				label Usuário
				input.form-control(type='text', id='user-tf', name='user')
			.form-group
				label Senha
				input.form-control(type='password', id='pass-tf', name='pass')
			.controls
				button(type='button').btn.btn-default.button-rememember-me
					span.glyphicon.glyphicon-unchecked.button-rememember-me-glyph
					| Lembrar
				button(type='submit').btn.btn-primary.button-sign-in
					span.glyphicon.glyphicon-lock
					| Entrar
			.clearfix
			hr
			.btm-links
				//#forgot-password
				//	a(href='#') Forgot Your Password?
				#create-account
					a(href='/signup') Crie sua conta
			.clearfix

	include modals/alert
	include modals/lost-password

block scripts
	script(src='/js/views/login.js')
	script(src='/js/controllers/loginController.js')
	script(src='/js/form-validators/loginValidator.js')
	script(src='/js/form-validators/emailValidator.js')