
.modal-form-errors.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				button.close(data-dismiss='modal') x
				h4 Ops!
			.modal-body
				| Parece que houve um problema.
				ul
			.modal-footer
				button(data-dismiss="modal").btn.btn-primary OK