
#set-password.modal.show
	.modal-dialog
		.modal-content
			.modal-header
				h4 Redefinir Senha
			.modal-body
				form(method="post")#set-password-form.well
					.form-group
						label Por favor entre com sua nova senha
						input.form-control(type="password", name="pass", id='pass-tf').required
						.alert.alert-danger.hide
			.modal-footer
				button(type="submit" form="set-password-form")#set-password-submit.btn.btn-primary Enviar